* { margin: 0;
    padding: 0;}

/* Global styles */
body {margin: 1rem;
      font-family: "Josefin Sans", sans-serif;}

li {font-size: 1.2rem;
    list-style: none;
    text-transform: uppercase;}

a:link {text-decoration: none;}

/* Header styles */

header {background-color: hsla(75, 71%, 64%, 1);
        text-transform: uppercase;}

header h1 { font-size: 2.5rem;
            font-weight: 300;
            padding-top: 2rem;
            padding-left: 1rem;}
header p {font-size: 1.2rem;
          padding-top: 0.4rem;
          padding-left: 1rem;}

header nav {background-color: white;
            margin-top: 3rem;
            padding-left: 3.4rem;}

header li { display: inline-block;
            padding-right: 4rem;
            padding-top: 0.8rem;
            padding-bottom: 0.7rem;}

header a:link {color: black;}

/* Sidebar styles */

aside { width: 25%;
        float: left;
        max-height: 35rem;
        overflow: hidden;}

aside nav {width: 100%;
              background-color: hsla(174, 75%, 64%, 1);
              padding-top: 2rem;
              padding-bottom: 3rem;}

aside li { color: white;
              padding: 1rem 3.4rem;}

aside a:link {color: white;}

aside div { background-color: hsla(195, 75%, 64%, 1);
            height: 10rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            width: 100%;}

/* Content area styles */

.container {float: left;
            width: 75%;
            max-height: 35rem;
            position: relative;
            overflow: scroll;}

article { width: 100%;
          background-color: white;
          width: 100%;}

article h2 {font-size: 1.8rem;
            color: white;
            background-color: hsla(52, 71%, 64%, 1);
            text-transform: uppercase;
            padding: 1.8rem 3.4rem;
            margin-bottom: 2rem;
            margin-left: 1rem;}

article p { padding: 0.8rem 3.4rem;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: 200;
            margin-left: 1rem;}

/* Footer styles */

footer {background-color: hsla(0, 0%, 70%, 1);
        height: 2rem;
        margin-top: 3rem;
        margin-left: 1rem;
        padding: 0.2rem;
        overflow: hidden;}

footer i {color: hsla(0, 0%, 15%, 1);
          float: right;
          font-size: 8rem;
          color: hsla(0, 0%, 15%, 1);}

.bigger { font-size: 1rem;
          height: 1.2rem;
          width: 1rem;
          color: hsla(0, 0%, 70%, 1);
          background-color: hsla(0, 0%, 15%, 1);
          border-radius: 50px;
          margin: 0.2rem;
          margin-left: 1rem;
          position: relative;
          padding-top: 5px;
          padding-right: 4px;
          padding-bottom: 4px;
          padding-left: 8px;}

.bigger:first-of-type {margin-right: 2rem;}

.biggest {font-size: 2rem;
          color: hsla(0, 0%, 15%, 1);
          margin: 0.2rem;
          margin-left: 1rem;
          position: relative;
          top: -2px;}